@use 'variables';

@mixin grid1($grid-template-areas){
    display: grid;
    grid-template-areas: $grid-template-areas;
}

@mixin grid1-child ($grid-area){
    grid-area: $grid-area;
}

@mixin grid2($grid-template-columns: auto, $grid-template-rows: auto){
    display: grid;
    grid-template-columns: $grid-template-columns;
    grid-template-rows: $grid-template-rows;
}
/*
@mixin grid2-child ($grid-column, $grid-row){
    grid-column: $grid-column;
    grid-row: $grid-row;
}*/
@mixin grid2-child ($grid-column-start, $grid-column-end, $grid-row-start, $grid-row-end){
    grid-column-start: $grid-column-start;
    grid-column-end: $grid-column-end;
    grid-row-start: $grid-row-start;
    grid-row-end: $grid-row-end;
}


@mixin flex ($justify-content: center, $align-items: center, $direction: row, $wrap: wrap){
    display: flex;
    flex-direction: $direction;
    flex-wrap: $wrap;
    justify-content: $justify-content;
    align-items: $align-items;
}


img{
    @extend .border-radius;
    width: 100%;
}

.ul-clear{
    list-style: none;
    padding-left: 0;
}