:root{
    --light-grey: #eeeeee;
    --light-blue:#badff0;
    --medium-light-blue:#81b1c7;
}

*{
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header, main, aside, footer{
    padding: 1rem;
}

#grid-container{
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(4, auto)
}

#globalheader{
    grid-column: 1/4;
    grid-row: 1/2;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    filter: drop-shadow(5px 5px 5px #0000000c);
    gap: 1rem;
    nav{
        ul{
            display: flex;
            gap: 1rem;
            padding-left: 0;
            li{
                list-style: none;
            }
        }
    }
}

main{
    grid-column: 1/3;
    grid-row: 2/3;
}

aside{
    grid-column: 3/4;
    grid-row: 2/3;
}

footer{
    grid-column: 1/4;
    grid-row: 3/4;
}

.form{
    display: flex;
    flex-direction: column;
    max-width: 500px;
    gap: 1rem;
    input{
        padding: 0.5rem;
        border: 1px solid #81b1c7;
    }
    textarea{
        font-family: Arial, Helvetica, sans-serif;
        padding: 0.5rem;
        border: 1px solid #81b1c7;
    }
}

button{
    background-color: var(--medium-light-blue);
    border: none;
    padding: 1rem;
}

button:hover{
        background-color: var(--light-blue);
    }

.search{
    display: flex;
    align-items: center;
    input{
        height: 50px;
        padding: 0.5rem;
        border: 1px solid #81b1c7;
        border-radius: 2rem 0 0 2rem;
    }
    button{
        height: 50px;
        border-radius: 0 2rem 2rem 0;
    }
}

.article-wrapper{
    display: flex;
    gap: 1rem;
    justify-content: space-between;

}

.article-card{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--medium-light-blue);
    flex-grow: 1
}