* {
    box-sizing: border-box;
}

body {
    background-color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

header, main, footer{
    padding: 1rem;
}

.grid-container {
    display: grid;
    grid-template-areas: "header" "main" "footer";
}

header{
    grid-area: header;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    ul{
        display: flex;
        gap: 2rem;
        padding-left: 0;
        li{
            list-style: none;
            a{
                text-decoration: none;
                color: #000;

            }
        }
    }
}

#logo{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    width: 80px;
    height: 80px;
    border-radius: 50px;
    a{
        text-decoration: none;
        color: #000;
        font-weight: 600;
    }
}

main{
    grid-area: main;
}

footer{
    grid-area: footer;
    display: flex;
    justify-content: center;
}

#mansory-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto repeat(2, 1fr);
    gap: 1rem;
    max-width: 1000px;
    margin: auto;
    h2{
        grid-column: 1/5;
        grid-row: 1/2;
    }
}

#natur, #science, #animal, #tech, #culture, #history, #geo, #food {
    padding: 3rem;
    border-radius: 10px;
    display: flex;
    align-items: center;

}

#natur {
    background-color: hsl(146, 52%, 72%);
    grid-column: 1/3;
    grid-row: 2/4;
}

#science {
    background-color: hsl(0, 0%, 100%);
    grid-column: 3/4;
    grid-row: 2/3;

}

#animal {
    background-color: hsl(337, 52%, 72%);
    grid-column: 4/5;
    grid-row: 2/3;
}

#tech {
    background-color: hsl(204, 52%, 72%);
    grid-column: 3/5;
    grid-row: 3/4;
}

#culture {
    background-color: hsl(271, 52%, 72%);
    grid-column: 1/2;
    grid-row: 4/5;
}

#history {
    background-color: hsl(8, 52%, 72%);
    grid-column: 2/3;
    grid-row: 4/5;
}

#geo {
    background-color: hsl(168, 52%, 72%);
    grid-column: 3/4;
    grid-row: 4/5;
}

#food {
    background-color: hsl(30, 52%, 72%);
    grid-column: 4/5;
}