@use 'variables';
@use 'mixins';

*{
    box-sizing: border-box;
}

body{
    margin: 0;
    background-color: aliceblue;
    font-family: 'Source Code Pro', sans-serif;
    font-display: auto;
}

.body-container{
        @include mixins.grid1 ("header" "main" "footer");
}

header, main, footer{
    padding: 1rem;
}

#global-header{
    @include mixins.flex();
    @include mixins.grid1-child (header);

    background-color: variables.$background-color;
    img{
        border-radius: 200px;
    }
}

#welcome-banner{  
        background-image: url(https://picsum.photos/600/400);
        background-repeat: none;
        background-size: cover;
        @extend .border-radius;

    header{
        @include mixins.flex(center, center, column);
        background-color: #ffffffa2;
        height: 300px;
    }

    h2{
        position: absolute;
    }
}

#main-container{
    @include mixins.grid1-child (main);
}

#global-nav{
    @include mixins.flex();
    position: fixed;
    width: 100%;
    bottom: 1rem;
/*     background-color: variables.$dark-green-color; */

    ul{
        @extend .ul-clear;
        @include mixins.flex(space-between, center, row, nowrap);
        gap: 1rem;
        background-color: variables.$dark-green-color;
        width: 100%;
        padding: 2rem 3rem 2rem 3rem;
        margin: 1rem;
        border-radius: 100px;
    }
}

#global-footer{
    @include mixins.grid1-child(footer);
    @include mixins.flex(normal, center, column);
    height: 350px;

    a{
        img{
            width: 100px;
            border-radius: 200px;
        }
    }

    ul{
        @include mixins.flex();
        @extend .ul-clear;
        li{
            i{
                color: #000;
            }
        }
    }

}

#categories{
    @include mixins.grid2 (repeat(2, 1fr), auto repeat(2, 1fr));
    gap: 1rem;

    h2{
        @include mixins.grid2-child (1, 3, 1, 2);
    }
    #el{
        @include mixins.grid2-child (1, 2, 2, 4);
    }
    #fashion{
        @include mixins.grid2-child (2, 3, 2, 3);
    }
    #home{
        @include mixins.grid2-child (2, 3, 3, 4)
    }

    article{
        @include mixins.flex(start);
        padding: 1rem;
        @extend .border-radius;
        background-color: variables.$light-grey-color;
    }
}

#news{
    @include mixins.grid2(auto, repeat(2, auto));
    h2{
        @include mixins.grid2-child(1, 2, 1, 2);
    }
    
    .scroll-container{
        @include mixins.flex(start, center, row, nowrap);
        overflow: scroll;
        gap: 1rem;
    }

    article{
        flex-grow: 1;
        min-width: 500px;
        a{
            i{
                position: absolute;
                padding: 1rem;
            }
        }
        ul{
            @extend .ul-clear;
        }
}
}

#popular{
    @include mixins.grid2(auto, repeat(2, auto));
    h2{
        @include mixins.grid2-child(1, 2, 1, 2);
    }
    .articles{
        @include mixins.grid2-child(1, 2, 2, 3);
        @include mixins.flex();
        gap: 1rem;
        article{
            min-width: 160px;
            max-width: 600px;
            flex-grow: 1;
        }
    }    
}
